<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#2c3e50" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../../partials/googleSignInElements.ejs") %>
    <title>Email verification</title>
    <link rel="stylesheet" href="/font-icon/fontawesome-free-5.15.4-web/css/all.min.css"/>
    <link rel="stylesheet" href="/css/user-logged-css/partials/top-bar.css">
    <link rel="stylesheet" href="/css/user-logged-css/email-verification.css">
    <!-- Google Font family import -->
    <style>@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@700&display=swap');</style>
<body>
<%- include("../../partials/top-bar.ejs") %>
    <section class="section">
        <div class="container">
            <div class="docs">
                <h1>Please confirm your email address</h1>
                <p>We have sent a six-digit verification code to your email: <span class="email"><%=userData.email%></span></p>
            </div>
            <div class="edit-email-part">
                <div class="edit-btn-wrap">
                    <button id="edit-btn">Edit Email</button>
                </div>
                <div class="email-edit-wrap">
                    <div class="input-wrap">
                        <input type="text" value="<%=userData.email%>" id="edit-email-input" placeholder="Enter your another email address">
                        <div class="edit_email_msg"></div>
                    </div>
                    <div class="b-wrap">
                        <button class="cng" id="edit-email">Change</button>
                        <button class="cncl">Cancel</button>
                    </div>
                </div>
            </div>
            <form action="" method="post">
                <div class="input-cont">
                    <input type="number" class="code-input" id="email-verify-code" type="text" placeholder="Enter verification code">
                    <div class="code_msg"></div>
                </div>
                <div class="btn-cont">
                    <button class="btn" id="code-submit">Confirm email address</button>
                </div>
                <div class="btn-cont resend">
                    <button class="btn" id="email-verify-code-resend">Resend verification code</button>
                </div>
            </form>
            <div id="code-send-next-time-show" style="text-align: center; color: #161414; font-size: 80%; margin: 6px 0;"><span class="txt"></span> <span class="tm"></span></div>
            <input type="text" id="temporarily-store-seconds" style="display: none;">
        </div>
        <div class="floating-alert-notification"></div>
        <div id="load-animation"></div>
    </section>
    <script src="/scripts/user-logged-scripts/partials-scripts/top-bar.js"></script>
    <script src="/scripts/user-logged-scripts/email-verification.js"></script>
</body>
</html>