<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="/font-icon/fontawesome-free-5.15.4-web/css/all.min.css"/>
    <link rel="stylesheet" href="/css/user-logged-css/partials/top-bar.css">
    <link rel="stylesheet" href="/css/user-logged-css/settings.css">
</head>
<body>
    <%- include("../../partials/top-bar.ejs") %>
    <h1>Settings Page</h1>

    
    <script src="/scripts/user-logged-scripts/partials-scripts/top-bar.js"></script>
    <script src="/scripts/user-logged-scripts/settings.js"></script>
</body>
</html>