/* default values start */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
ul,
li,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

:focus {
	outline: 0;
}

.sections {
	width: 100%;
}
.container {
	margin: 0 auto;
}
.clearfix::after {
	display: block;
	content: "";
	clear: both;
}
/* default values end */

/* Font Family */

@font-face {
	font-family: "Montserrat-Medium";
	src: url("/fonts/Montserrat-Medium.woff2") format("woff2"), url("/fonts/Montserrat-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat-Regular";
	src: url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat-SemiBold";
	src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("/fonts/Montserrat-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat-Bold";
	src: url("/fonts/Montserrat-Bold.woff2") format("woff2"), url("/fonts/Montserrat-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat-ExtraLight";
	src: url("/fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("/fonts/Montserrat-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

/* Lato */
@font-face {
	font-family: "Lato-Bold";
	src: url("/fonts/Lato-Bold.woff2") format("woff2"), url("/fonts/Lato-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato-Light";
	src: url("/fonts/Lato-Light.woff2") format("woff2"), url("/fonts/Lato-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato-Regular";
	src: url("/fonts/Lato-Regular.woff2") format("woff2"), url("/fonts/Lato-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Font Family end */

/*  Start Deful valus for this Designe */
body {
	font-family: "Lato-Regular";
	font-size: 16px;
	line-height: 1.5;
	color: #666666;
	background-color: #f2f2f2;
}

.section {
	width: 100%;
}

.section .container form {
	width: 400px;
	margin: 0 auto;
	padding: 80px 0;
}
.section .container h1 {
	text-align: center;
}
.section .container form h1 {
	margin-bottom: 70px;
}

.section .container form .input-cont .code-input {
	background: none;
	color: #000000;
	height: 44px;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #c6c6c6;
}

.section .container form .input-cont .code-input:focus {
	border-bottom: 3px solid #0590c7;
}

.section .container form .input-cont .code-input::placeholder {
	font-size: 14px;
}

.section .container form .input-cont {
	width: 100%;
}

.section .container form .btn-cont .btn {
	width: 100%;
	display: block;
	background-color: #263026;
	border: none;
	color: white;
	padding: 15px 0;
	text-decoration: none;
	margin: 20px 0 5px 0;
	border-radius: 5px;
	cursor: pointer;
}

.section .container form .resend .btn {
	margin-top: 10px;
}

/* Floating notification CSS  */

@keyframes floatingMsgAnimate {
	10% {
		right: 20px;
		top: 40px;
	}
	50% {
		right: 20px;
		top: 40px;
	}
	70% {
		right: 20px;
		top: 40px;
		opacity: 1;
	}
	71% {
		opacity: 0.4;
	}
	100% {
		top: 40px;
		right: -400px;
	}
}

.floating-alert-notification {
	position: fixed;
	top: -50px;
	right: 20px;
	width: 300px;
	overflow: hidden;
	display: none;
	z-index: 100;
}

.floating-alert-notification.show {
	display: block;
	animation-name: floatingMsgAnimate;
	animation-duration: 3s;
}

.floating-alert-notification .alert-msg {
	border-radius: 5px;
	padding: 10px 30px;
	opacity: 0.83;
	font-size: 15px;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 15px;
}

.floating-alert-notification .danger-alert {
	background-color: #f44336;
	color: white;
}

.floating-alert-notification .success-alert {
	background-color: #04aa6d;
	color: white;
}

small {
	font-size: 80%;
	font-weight: 400;
	color: lightcoral;
}

/* Loading animation of the actins >> Start */
#load-animation .load-bg {
	background-color: #0000007a;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
}

#load-animation .load-bg .wrap-loading {
	width: 110px;
	height: 110px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1001;
}

#load-animation .load-bg .wrap-loading .loading {
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #43aa8b;
	width: 100%;
	height: 100%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media all and (max-width: 500px) {
	#load-animation .load-bg .wrap-loading .loading {
		border-width: 5px;
		width: 70px;
		height: 70px;
	}
}
/* Loading animation of the actins >> End */

@media all and (max-width: 550px) {
	.section .container {
		width: 95%;
	}
	.section .container form {
		width: 100%;
	}
}
